.content button.btnComputerOcupado{
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
    height: 18px;
    padding: 0 20px;
    font-size: 14px;
    background: #f05a5b;
    color: #000000;
    cursor: pointer;
  }

  .content button.btnComputerDesocupado{
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
    height: 18px;
    padding: 0 20px;
    font-size: 14px;
    background: #5ff05a;
    color: #000000;
    cursor: pointer;
  }

  .content button.btnComputerIndisponível{
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
    height: 18px;
    padding: 0 20px;
    font-size: 14px;
    background: #44444433;
    color: #000000bb;
    cursor: inherit;
  }

ul.computers-list{
  display: flex;
  flex-direction: row;
  list-style-type: none; 
  margin-left: 10px;
}

ul.computers-list li{
  margin-left: 17px;
  margin-right: 40px;
  margin-top: 20px;
}

ul.computers-list li header img {
  height: 104px;
  width: 104px;
}
