
ul.menus-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul.menus-list li {
    margin-right: 80px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px;
    border: 1px black solid;
}

ul.menus-list li span strong{
    font-size: 18px;
}